:root{
  --light-green : rgb(150, 201, 62);
  --green : rgb(43, 167, 69);
  --gray: rgb(51, 58, 64);
  --blue: #1d3947;
}

.banner-position {
  margin-bottom: 70px !important;
  top: 60px;
  height: 100vh;
}

.img-brand{
  height: 60px;
}

.navbar{
  z-index: 100;
}

.nav-color {
  background-color: var(--gray);
}

.text-green {
  color: var(--green) !important;
}

.bg-green {
  background-color: var(--green);
}

.encabezado {
  top: 44%;
  color: white;
  
}

.encabezado-parrafo {  
  font-weight: 500;
  white-space: pre-line;  
}

.img-position {
  position: relative;
  height: 100vh;
  object-fit: cover;
}

.bg-opaco {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.55);
}

.bg-blue {
  background-color: var(--blue);
}

.footer-size {
  min-height: 80px;
}

.pre-line {
  white-space: pre-line;
}

.card {
  width: 18rem;
  padding: 0;
}

.bg-light-green {
  background-color: var(--light-green);
}

.font-size-lg {
  font-size: 1.3rem;
}

.text-dotted {
  border-bottom:2px dotted #222222;
  color:#333333;
  text-decoration:none;
}

.img-fit-cover {
  object-fit: cover;
}

@media (min-width: 768px) {
  .pe-sm-6 {
    padding-right: 6rem !important;
  }

  .banner-position {
    top: 0 !important;
    height: auto;
    margin-bottom: auto;
  }

  .img-position {   
    height: auto;
    object-fit: auto;
  }

  .encabezado {   
    top: 44%;    
  }
}

@media (min-width: 992px) {
  .w-md-60 {
    width: 60% !important;
  }

  .top-md-0 {
    top: 0 !important;
  }
}